name: 'test-local'
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - run: yarn
      - uses: ./
        with:
          github-token: ${{ secrets.github_token }}
